* {
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  height: 700px;
}

img {
  height: 50%;
  width: 50%;
  float: right;
  padding-right: 400px;
  margin: -200px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 30px;
}

a {
  color:#e5e7eb;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
}

h1 {
   height: 50px;
   margin-bottom: 10px;
   margin-left: 240px;
   font-size: 48px;
   font-weight: extrabold;
   color: #f9faf8;
}

h2 {
  padding-left: 200px;
  margin-top: -100px;
  margin-bottom: 160px;
}

p {
  padding: 30px;
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 40px;
  margin-left: 200px;
  padding-left: 50px;
  margin-bottom: -20px;
}

button {
  background-color: #3882f6;
  color: white;
  margin-left: 280px;
  padding: 5px;
  width: 100px;
}

h3 { 
  color: #1f2937;
  font-weight: extra-bold;
  font-size: 36px;
  text-align: center;
}

div {
  height: 300px;
  width: 1300px;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  margin-left: 500px;
  margin-top: 240px;
  margin-right: 100px;
  gap: 100px;
}

.message p {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  margin: -300px;
  height: 300px;
  margin-left: 300px;
  text-align: center;
}













